---
---

@import "{{ site.theme }}";

#header {
    padding: 15px;
    height: auto;
}

#header h1 { 
    text-align: center;
    margin-bottom: 0;
}

h1.post-title {
    border-bottom: 1px dotted #e8e8e8;
}

h2.date {
    font-size: 65%;
    line-height: 0;
    margin-bottom: 2em;
}

#footer {
    font-size: 85%;

    .credits {
        font-size: 11px;
        font-family: 'OpenSansRegular', "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: normal;
        color: #696969;
        margin-top: -10px;
  
        &.left {
            float: left;
        }
  
        &.right {
            float: right;
        }
    }
}

