---
---

@import "{{ site.theme }}";

#header nav .fork { display: none; }

h1.post-title {
    border-bottom: 1px dotted #e8e8e8;
}

h2.date {
    font-size: 65%;
    line-height: 0;
    margin-bottom: 2em;
}